/*paleta de cores uzadas no projeto*/
:root {
    --grey: #BBBBBB;
    --t-grey: #555555;
    --dark-grey: #888888;
    --black: #000000;
    --opacity-black: RGBa(0,0,0,0.3);
    --gold: #c78c19;
    --green: #088C19;
    --white: #FFFFFF;
    --orange: #ffa500;
    --dark-orange: #ff8c00;
    --almost-white: #FEFEFE;
}



/*cabeçálho do código - posicionamento logo superior*/
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
 }

header {
    background: var(--grey);
    padding: 1.2rem;
}

.d-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
   justify-content: space-around;
}

.d-header h1 {
    display: flex;
    
}



/*menu de navegação*/
nav {
    padding: 7rem 0;
    vertical-align: bottom;
}

nav li {
    display: inline;
    margin: 0 0 0 0.9rem;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 1.4rem;
}

nav a:hover {
    color: var(--gold);
}



/*rodapé - posicionamento logo inferior*/
footer {
    text-align: center;
    background: url("../images/products/bg.jpg");
    padding: 2.2rem 0;
}

.copyright {
    color: var(--white);
    font-size: 1rem;
    margin-top: 1.2rem;
}

#copy {
    font-size: 1.4rem;
    vertical-align: middle;
}




/*css da página principal*/
.banner {
    display: flex;
    width: 100%;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1.2rem;
}

section.main-description {
    padding: 0 1.8rem;
    width: 76%;
    margin: 2rem auto 0 auto;
}

.main-description p {
    margin: 0 0 1rem;
}

.main-description strong {
    font-weight: bold;
}

.main-description em {
    font-style: italic;
}

.utensils {
    width: 9rem;
    float: left;
    margin: 0 1.2rem 1.2rem 0;
    box-shadow: 0.6rem 0.6rem 2rem var(--dark-grey);
}

section.map {
    padding: 2rem 0;
    background: linear-gradient(var(--almost-white),var(--dark-grey));
    
}

.map p {
    margin: 0 0 2rem;
    text-align: center;
}

.content-map {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem;
    width:50%rem;
    justify-content: center;
}

section.benefits {
    padding: 1rem 0 2rem 0;
    background: var(--dark-grey);
}

.benefits-content {
    display: flex;
    width:60%;
    margin: 2rem auto;
}

.benefits-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.itens {
    line-height: 1.5rem;
}

.itens:before {
    content: "\2605";
}

.itens:first-child {
    font-weight: bold;
}

.benefits-image {
    width: 50%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 0.6rem 0.6rem 2rem var(--black);
}

.benefits-image:hover {
    opacity: 0.3;
}

.video {
    width: 40%;
    margin: 2rem auto 0 auto;
}




/*css página de produtos*/
.description { 
    width: 90%;
    margin: 3rem auto 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products li{
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: top;
    padding: 2rem 2rem;
    border: 0.2rem solid var(--black);
    border-radius: 0.50rem;
    box-sizing: border-box;
    margin: 0 1rem 3rem 0;
}

.products li:hover {
    border-color: var(--gold);
}

.products li:hover h2 {
    font-size: 2rem;
}

.products li:active {
    border-color: var(--green);
}

.products h2 {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
}

.product-description {
    display: flex;
    font-size: 1.2rem;    
}

.product-price {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.6rem;
}



/*css página de contato*/
.contact-main {
    width: 76%;
    margin: 0 auto;
}

form {
    margin: 2.2rem 0;
}

form label,
legend {
    display: block;
    font-size: 1.2rem;
    margin: 0 0 0.6rem;
}

.input-default {
    display: block;
    margin: 0 0 1.2rem;
    padding: 0.6rem 1.2rem;
    width: 50%;
}

.checkbox {
    margin: 1.2rem 0;
}

.submit {
    width: 40%;
    padding: 1rem 0;
    background: var(--orange);
    color: var(--white);
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.25rem;
    transition: 1s;
}

.submit:hover {
    background: var(--dark-orange);
    cursor:pointer;
    transform: scale(1.2) rotate(-2deg);
}

table {
    margin: 1.2rem 0 2.4rem;
}

thead {
    background: var(--t-grey);
    color: var(--white);
    font-weight: bold;
}

td, th {
    border: 0.1rem solid var(--black);
    padding: 0.4rem 1rem;
}




@media (max-width: 1024px) {

    .description { 
        width: 96%;
        margin: 2rem auto 0 auto;
    }

    .products li{
        width: 40%;
    }
}



@media (max-width: 480px) {

    /*cabeçalho*/
    .d-header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        padding: 0;
    }

    nav a {
        font-size: 1rem;   
    }

    nav li {
        margin: 0 0.5rem 0 0;
    }


    /*rodapé*/
    .copyright {
        color: var(--white);
        font-size: 0.8rem;
        margin-top: 1.2rem;
    }

    #copy {
        font-size: 1rem;
    }    


    /*página principal*/
    .main-title {
        display: block;
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .utensils {
        width: 40%;
        padding: 0 0.1rem 1px 0;
    }

    section.main-description {
        padding: 0;
    }

    section.map {
        padding: 0.5rem 0 0.5rem 0;
    }

    .content-map {
        padding: 0 0.5rem;     
    }

    .benefits {
        display: flex;
        flex-direction: column;
    }

    .benefits-content {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin: 0 1rem 1rem 1rem;
    }

    .benefits-list {
        width: 100%;
        margin-bottom: 1rem;
    }

    .benefits-image {
        width: 94%;
    }

    .video {
        width: 94%;
        margin-top: 1rem;
    }


    /*página produtos*/
    .description {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    
    .products {
        display: block;
    }

    .products li {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 2rem 0;
    }


    /*página contato*/
    .contact-main {
        width: 90%;
        margin: 0 auto;
    }

    .input-default {
        width: 86%;
    }

    .submit {
        width: 60%;
    }

}